@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --main-font-color: #1e293b;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: var(--main-font-color);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Main variables

main-font-color: slate-800 #1e293b
primary-color: emerald-400
link-color: sky-700
bg-color-lighter: slate-50
bg-color-light: slate-100

font-size 14px: text-sm
font-size 16px: text-base
font-size 18px: text-lg
font-size 20px: text-xl
font-size 24px: text-2xl
font-size 30px: text-3xl

*/